body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: #312938;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    background-color: #453c4e;
    color: #e0dae7;
}

.heading {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.credit {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}

.item {
    flex: 0 0 1;
    height: 32px;
    width: 32px;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: 2px;
}